In [1]:
import pandas as pd

read csv

In [ ]:
df = pd.read_csv('dc_crime_2025.csv')

In [20]:
print(df.head())

             X            Y       CCN              REPORT_DAT     SHIFT  \
0  401833.7200  133509.8800  23164701  2025/07/02 04:00:00+00  MIDNIGHT
1  397867.9300  140010.2000  25077488  2025/05/25 03:11:30+00  MIDNIGHT
2  405684.5761  135633.8979  10133557  2025/06/30 04:00:00+00  MIDNIGHT
3  400588.4650  129470.0424   5131706  2025/02/05 05:00:00+00  MIDNIGHT
4  400840.6600  139142.9400  25000189  2025/01/01 11:25:02+00  MIDNIGHT

   METHOD       OFFENSE                                     BLOCK  \
0     GUN      HOMICIDE  1800 - 1809 BLOCK OF MINNESOTA AVENUE SE
1  OTHERS  THEFT F/AUTO       700 - 899 BLOCK OF COLUMBIA ROAD NW
2     GUN      HOMICIDE          4600 - 4699 BLOCK OF A STREET SE
3     GUN      HOMICIDE        800 - 899 BLOCK OF XENIA STREET SE
4  OTHERS   THEFT/OTHER    1000 - 1249 BLOCK OF BRENTWOOD ROAD NE

          XBLOCK         YBLOCK  ...  BLOCK_GROUP CENSUS_TRACT  \
0  401833.720000  133509.880000  ...     007601 3       7601.0
1  397867.930000  140010.200000  ...     003100 1       3100.0
2  405684.576067  135633.897851  ...     009906 1       9906.0
3  400588.464990  129470.042358  ...     009801 1       9801.0
4  400840.660000  139142.940000  ...     009102 3       9102.0

   VOTING_PRECINCT   LATITUDE  LONGITUDE  BID              START_DATE  \
0     Precinct 133  38.869411 -76.978870  NaN  2023/10/06 04:59:00+00
1      Precinct 37  38.927967 -77.024589  NaN  2025/05/18 22:00:00+00
2     Precinct 104  38.888528 -76.934478  NaN  2010/09/15 00:45:00+00
3     Precinct 121  38.833020 -76.993222  NaN  2005/09/27 07:25:00+00
4      Precinct 72  38.920157 -76.990306  NaN  2025/01/01 11:06:00+00

                 END_DATE   OBJECTID  OCTO_RECORD_ID
0                     NaN  788695369             NaN
1  2025/05/19 15:00:00+00  788708276             NaN
2  2010/09/14 04:00:00+00  788710335             NaN
3  2005/09/27 07:26:00+00  788710341             NaN
4  2025/01/01 11:23:00+00  788935228             NaN

[5 rows x 25 columns]

In [6]:
new_df = df.iloc[:, [2,3,4,5,6,10, 12, 14, 21, 22]]

In [ ]:
# save new df to a new csv 
new_df.to_csv('dc_crime_2025_new.csv')

In [8]:
print(new_df.head())

        CCN              REPORT_DAT     SHIFT  METHOD       OFFENSE  WARD  \
0  23164701  2025/07/02 04:00:00+00  MIDNIGHT     GUN      HOMICIDE   8.0
1  25077488  2025/05/25 03:11:30+00  MIDNIGHT  OTHERS  THEFT F/AUTO   1.0
2  10133557  2025/06/30 04:00:00+00  MIDNIGHT     GUN      HOMICIDE   7.0
3   5131706  2025/02/05 05:00:00+00  MIDNIGHT     GUN      HOMICIDE   8.0
4  25000189  2025/01/01 11:25:02+00  MIDNIGHT  OTHERS   THEFT/OTHER   5.0

   DISTRICT NEIGHBORHOOD_CLUSTER              START_DATE  \
0       6.0           Cluster 34  2023/10/06 04:59:00+00
1       3.0            Cluster 2  2025/05/18 22:00:00+00
2       6.0           Cluster 33  2010/09/15 00:45:00+00
3       7.0           Cluster 39  2005/09/27 07:25:00+00
4       5.0           Cluster 22  2025/01/01 11:06:00+00

                 END_DATE
0                     NaN
1  2025/05/19 15:00:00+00
2  2010/09/14 04:00:00+00
3  2005/09/27 07:26:00+00
4  2025/01/01 11:23:00+00