In [27]:
import pandas as pd
import matplotlib.pyplot as plt

Matplotlib is building the font cache; this may take a moment.

In [9]:
# read csv
df = pd.read_csv('/Users/xanijia/dc-crime-analysis/data/dc_crime_2025.csv')

In [10]:
# print first 5 rows of df 
print(df.head())

             X            Y       CCN              REPORT_DAT     SHIFT  \
0  401833.7200  133509.8800  23164701  2025/07/02 04:00:00+00  MIDNIGHT
1  397867.9300  140010.2000  25077488  2025/05/25 03:11:30+00  MIDNIGHT
2  405684.5761  135633.8979  10133557  2025/06/30 04:00:00+00  MIDNIGHT
3  400588.4650  129470.0424   5131706  2025/02/05 05:00:00+00  MIDNIGHT
4  400840.6600  139142.9400  25000189  2025/01/01 11:25:02+00  MIDNIGHT

   METHOD       OFFENSE                                     BLOCK  \
0     GUN      HOMICIDE  1800 - 1809 BLOCK OF MINNESOTA AVENUE SE
1  OTHERS  THEFT F/AUTO       700 - 899 BLOCK OF COLUMBIA ROAD NW
2     GUN      HOMICIDE          4600 - 4699 BLOCK OF A STREET SE
3     GUN      HOMICIDE        800 - 899 BLOCK OF XENIA STREET SE
4  OTHERS   THEFT/OTHER    1000 - 1249 BLOCK OF BRENTWOOD ROAD NE

          XBLOCK         YBLOCK  ...  BLOCK_GROUP CENSUS_TRACT  \
0  401833.720000  133509.880000  ...     007601 3       7601.0
1  397867.930000  140010.200000  ...     003100 1       3100.0
2  405684.576067  135633.897851  ...     009906 1       9906.0
3  400588.464990  129470.042358  ...     009801 1       9801.0
4  400840.660000  139142.940000  ...     009102 3       9102.0

   VOTING_PRECINCT   LATITUDE  LONGITUDE  BID              START_DATE  \
0     Precinct 133  38.869411 -76.978870  NaN  2023/10/06 04:59:00+00
1      Precinct 37  38.927967 -77.024589  NaN  2025/05/18 22:00:00+00
2     Precinct 104  38.888528 -76.934478  NaN  2010/09/15 00:45:00+00
3     Precinct 121  38.833020 -76.993222  NaN  2005/09/27 07:25:00+00
4      Precinct 72  38.920157 -76.990306  NaN  2025/01/01 11:06:00+00

                 END_DATE   OBJECTID  OCTO_RECORD_ID
0                     NaN  788695369             NaN
1  2025/05/19 15:00:00+00  788708276             NaN
2  2010/09/14 04:00:00+00  788710335             NaN
3  2005/09/27 07:26:00+00  788710341             NaN
4  2025/01/01 11:23:00+00  788935228             NaN

[5 rows x 25 columns]

In [ ]:
# print columns
print(df.columns)

Index(['X', 'Y', 'CCN', 'REPORT_DAT', 'SHIFT', 'METHOD', 'OFFENSE', 'BLOCK',
       'XBLOCK', 'YBLOCK', 'WARD', 'ANC', 'DISTRICT', 'PSA',
       'NEIGHBORHOOD_CLUSTER', 'BLOCK_GROUP', 'CENSUS_TRACT',
       'VOTING_PRECINCT', 'LATITUDE', 'LONGITUDE', 'BID', 'START_DATE',
       'END_DATE', 'OBJECTID', 'OCTO_RECORD_ID'],
      dtype='object')

In [14]:
# make columns lowercase
df.columns = [x.lower() for x in df.columns]


print(df)

                 x            y       ccn              report_dat     shift  \
0      401833.7200  133509.8800  23164701  2025/07/02 04:00:00+00  MIDNIGHT
1      397867.9300  140010.2000  25077488  2025/05/25 03:11:30+00  MIDNIGHT
2      405684.5761  135633.8979  10133557  2025/06/30 04:00:00+00  MIDNIGHT
3      400588.4650  129470.0424   5131706  2025/02/05 05:00:00+00  MIDNIGHT
4      400840.6600  139142.9400  25000189  2025/01/01 11:25:02+00  MIDNIGHT
...            ...          ...       ...                     ...       ...
16808  398316.2200  137857.0900  25423718  2025/08/27 20:01:58+00   EVENING
16809  397660.8800  142303.2500  25423723  2025/08/27 21:02:24+00   EVENING
16810  397005.3500  138854.8800  25423722  2025/08/27 21:02:19+00   EVENING
16811  397633.4300  144615.4200  25130691  2025/08/27 15:30:40+00       DAY
16812  397171.1100  137408.2500  25130918  2025/08/27 23:57:05+00   EVENING

       method       offense                                     block  \
0         GUN      HOMICIDE  1800 - 1809 BLOCK OF MINNESOTA AVENUE SE
1      OTHERS  THEFT F/AUTO       700 - 899 BLOCK OF COLUMBIA ROAD NW
2         GUN      HOMICIDE          4600 - 4699 BLOCK OF A STREET SE
3         GUN      HOMICIDE        800 - 899 BLOCK OF XENIA STREET SE
4      OTHERS   THEFT/OTHER    1000 - 1249 BLOCK OF BRENTWOOD ROAD NE
...       ...           ...                                       ...
16808  OTHERS  THEFT F/AUTO            500 - 599 BLOCK OF O STREET NW
16809  OTHERS   THEFT/OTHER    4800 - 4817 BLOCK OF GEORGIA AVENUE NW
16810  OTHERS   THEFT/OTHER       2000 - 2099 BLOCK OF 15TH STREET NW
16811  OTHERS   THEFT/OTHER    6500 - 6599 BLOCK OF GEORGIA AVENUE NW
16812  OTHERS   THEFT/OTHER    1100 - 1199 BLOCK OF VERMONT AVENUE NW

              xblock         yblock  ...  block_group census_tract  \
0      401833.720000  133509.880000  ...     007601 3       7601.0
1      397867.930000  140010.200000  ...     003100 1       3100.0
2      405684.576067  135633.897851  ...     009906 1       9906.0
3      400588.464990  129470.042358  ...     009801 1       9801.0
4      400840.660000  139142.940000  ...     009102 3       9102.0
...              ...            ...  ...          ...          ...
16808  398316.220000  137857.090000  ...     004801 3       4801.0
16809  397660.880000  142303.250000  ...     002002 1       2002.0
16810  397005.350000  138854.880000  ...     004300 3       4300.0
16811  397633.430000  144615.420000  ...     001804 2       1804.0
16812  397171.110000  137408.250000  ...     010100 3      10100.0

       voting_precinct   latitude  longitude       bid  \
0         Precinct 133  38.869411 -76.978870       NaN
1          Precinct 37  38.927967 -77.024589       NaN
2         Precinct 104  38.888528 -76.934478       NaN
3         Precinct 121  38.833020 -76.993222       NaN
4          Precinct 72  38.920157 -76.990306       NaN
...                ...        ...        ...       ...
16808      Precinct 18  38.908572 -77.019413       NaN
16809      Precinct 54  38.948623 -77.026984       NaN
16810      Precinct 22  38.917557 -77.034531       NaN
16811      Precinct 61  38.969452 -77.027309       NaN
16812      Precinct 17  38.904526 -77.032614  DOWNTOWN

                   start_date                end_date   objectid  \
0      2023/10/06 04:59:00+00                     NaN  788695369
1      2025/05/18 22:00:00+00  2025/05/19 15:00:00+00  788708276
2      2010/09/15 00:45:00+00  2010/09/14 04:00:00+00  788710335
3      2005/09/27 07:25:00+00  2005/09/27 07:26:00+00  788710341
4      2025/01/01 11:06:00+00  2025/01/01 11:23:00+00  788935228
...                       ...                     ...        ...
16808  2025/08/27 02:00:00+00  2025/08/27 09:00:00+00  789271937
16809  2025/08/18 22:25:00+00  2025/08/18 23:00:00+00  789271938
16810  2025/08/21 19:47:00+00  2025/08/21 19:59:00+00  789271940
16811  2025/08/27 14:49:00+00  2025/08/27 14:50:00+00  789271941
16812  2025/08/27 23:13:00+00  2025/08/27 23:26:00+00  789271942

       octo_record_id
0                 NaN
1                 NaN
2                 NaN
3                 NaN
4                 NaN
...               ...
16808             NaN
16809             NaN
16810             NaN
16811             NaN
16812             NaN

[16813 rows x 25 columns]

In [15]:
# select columns ccn, report_date, shift, method, offense, ward, district, neighborhood_cluster, start_date, and end_date
new_df = df.iloc[:, [2,3,4,5,6,10, 12, 14, 21, 22]]

In [ ]:
# save new df to a new csv 
new_df.to_csv('dc_crime_2025_new.csv')

In [16]:
# print first 5 rows of new_df
print(new_df.head())

        ccn              report_dat     shift  method       offense  ward  \
0  23164701  2025/07/02 04:00:00+00  MIDNIGHT     GUN      HOMICIDE   8.0
1  25077488  2025/05/25 03:11:30+00  MIDNIGHT  OTHERS  THEFT F/AUTO   1.0
2  10133557  2025/06/30 04:00:00+00  MIDNIGHT     GUN      HOMICIDE   7.0
3   5131706  2025/02/05 05:00:00+00  MIDNIGHT     GUN      HOMICIDE   8.0
4  25000189  2025/01/01 11:25:02+00  MIDNIGHT  OTHERS   THEFT/OTHER   5.0

   district neighborhood_cluster              start_date  \
0       6.0           Cluster 34  2023/10/06 04:59:00+00
1       3.0            Cluster 2  2025/05/18 22:00:00+00
2       6.0           Cluster 33  2010/09/15 00:45:00+00
3       7.0           Cluster 39  2005/09/27 07:25:00+00
4       5.0           Cluster 22  2025/01/01 11:06:00+00

                 end_date
0                     NaN
1  2025/05/19 15:00:00+00
2  2010/09/14 04:00:00+00
3  2005/09/27 07:26:00+00
4  2025/01/01 11:23:00+00

In [25]:
ward_shift_method_offense = new_df.loc[:, ['ward', 'shift', 'method', 'offense']]
print(ward_shift_method_offense)

       ward     shift  method       offense
0       8.0  MIDNIGHT     GUN      HOMICIDE
1       1.0  MIDNIGHT  OTHERS  THEFT F/AUTO
2       7.0  MIDNIGHT     GUN      HOMICIDE
3       8.0  MIDNIGHT     GUN      HOMICIDE
4       5.0  MIDNIGHT  OTHERS   THEFT/OTHER
...     ...       ...     ...           ...
16808   2.0   EVENING  OTHERS  THEFT F/AUTO
16809   4.0   EVENING  OTHERS   THEFT/OTHER
16810   1.0   EVENING  OTHERS   THEFT/OTHER
16811   4.0       DAY  OTHERS   THEFT/OTHER
16812   2.0   EVENING  OTHERS   THEFT/OTHER

[16813 rows x 4 columns]